<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The Shop</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [class.activated]="currentUrl == '/'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop" [class.activated]="currentUrl == '/shop'">shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.activated]="currentUrl == '/'" >products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.activated]="currentUrl == '/'">orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" [class.activated]="currentUrl == '/about'">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="statistics" [class.activated]="currentUrl == '/statistics'">statistics</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav>

