<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="about">The Shop</a>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="about" [class.activated]="currentUrl == '/about'">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shop" [class.activated]="currentUrl == '/shop'" *ngIf="isAuth">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" [class.activated]="currentUrl == '/products'" *ngIf="isAuth && isAdmin">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="order" [class.activated]="currentUrl == '/order'" *ngIf="isAuth">Orders</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="statistics" [class.activated]="currentUrl == '/statistics'" *ngIf="isAuth">Statistics</a>
      </li>
    </ul>

    <button class="btn btn-light my-2 mx-2 my-sm-0 inline" type="button" [routerLink]="'/register'" *ngIf="!isAuth">Register</button>
    <button class="btn btn-light my-2 mx-2 my-sm-0 inline" type="button" [routerLink]="'/login'" *ngIf="!isAuth">Login</button>  
    <button class="btn btn-light my-2 mx-2 my-sm-0 inline" type="button" (click)="logout()" *ngIf="isAuth">Logout</button> 

  </div>
</nav>

